{% extends 'layout.html' %}

{% block content %}

<div class="container">
    <div style="margin-bottom: 10px;" class="clearfix">
        <a class="btn btn-success" href="/lh/add/" target="_blank">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            新建靓号
        </a>
        <a class="btn btn-success" href="/lh/add/" target="_blank">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            新建靓号ModelForm
        </a>
        <div style="float:right; width: 300px;">
            <form method="get">
                <div class="input-group">

                    <input type="text" name="q" class="form-control" placeholder="Search for..." value="{{ search_data }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>

    </div>

    <div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                靓号列表
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>号码</th>
                    <th>价格</th>
                    <th>级别</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                <tr>
                    <th>{{obj.id}}</th>
                    <th>{{obj.mobile}}</th>
                    <th>{{obj.price}}</th>
                    <th>{{obj.get_level_display}}</th>
                    <th>{{obj.get_status_display}}</th>


                    <td>
                        <a class="btn btn-primary" href="/lh/{{ obj.id }}/edit/">编辑</a>
                        <a class="btn btn-danger" href="/lh/delete/?id={{ obj.id }}">删除</a>
                    </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix">
            <ul class="pagination" style="float: left;">
                {{ page_string }}
            </ul>
        </div>
    </div>
</div>

{% endblock %}